appdirs==1.4.3
arrow==0.10.0
beautifulsoup4==4.5.3
binaryornot==0.4.0
chardet==3.0.0
click==6.7
cookiecutter==1.5.1
cookiejar==0.0.1
Django==1.11
future==0.16.0
Jinja2==2.9.6
jinja2-time==0.2.0
MarkupSafe==1.0
nytimesarticle==0.1.0
olefile==0.44
packaging==16.8
pager==3.3
Pillow==4.1.0
poyo==0.4.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.13.0
six==1.10.0
whichcraft==0.4.0
gunicorn==19.7.0